@charset "UTF-8";

body {
    background-color: rgb(0, 0, 0)
}

h1 {
    color: green;
    text-align: center;
}

@font-face {
    font-family: 'Nosifer';
    src: url('Nosifer-Regular.ttf') format('truetype');
}

.seu-elemento, h1, p {
    font-family: 'Nosifer', sans-serif;
    color:red;
}


.shortcut {
font-style:normal;
font-variant:italic;
font-weight:100;
font-size:large;
line-height:normal;
font-family: 'nosifer', sans-serif;
}