body {

    font-family: 'Press Start 2P',cursive;
    background-color: black;
    color: white;
    margin: 0;
    padding: 20px;
}

.card{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    background-color: rgb(73, 54, 118);
}
img {
    width: 200px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
   
}
button {
    background-color: #007BFF;
    color: white;
    padding: 20px 30px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 12px;
    margin-top: 20px;
    font-family: 'press start 2p', cursive;
}
button:hover {
    background-color: #2600ff;
    
}

.galeria {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
      gap: 25px;
    }

    .card {
      border: 3px solid #ffcc00; /* amarelo neon */
      border-radius: 10px;
      padding: 20px;
      text-align: center;

      transition: transform 0.3s, box-shadow 0.3s;
      box-shadow: 0 0 10px #ffcc00;
    }


    h1{
        text-align: center;
        text-shadow: blueviolet 0 0 50px;
    }


    .cabeçalho{

        padding: 40px;
        text-align: center;
        border: 10px;
    }
 .divisao,
 button {

    padding: 5px;
    animation: trocaCor 3s infinite alternate;
}

@keyframes trocaCor {
    0% {
        background-color: #ffe045;
    }
    100% {
        background-color: #3e8eff;
    }
}